{% extends 'layout.html' %}
{% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

{% block content %}

<div class="title">
    <h2>О нас!</h2>
</div>

<div class="opisanie">
DATUM Group — современная компания, осуществляющая свою деятельность на территории России и стран ближнего зарубежья уже более 25 лет. Объединяя под брендом «DATUM» несколько бизнес-направлений, мы представляем собой холдинг со штатом более 500 специалистов различного профиля.

Наша цель – продвижение на рынки современных технологий во всех сферах нашей деятельности. Мы стремимся максимально удовлетворить потребности наших клиентов, используя комплексный подход в решении проектных задач. Поэтому каждое из направлений группы компаний дополняет друг друга, создавая разносторонний мир профессионалов. Мы любим свое дело и с готовностью беремся за крупные и инновационные проекты, за новые для себя и рынка задачи.

Основные направления деятельности группы компаний – создание отраслевых схем (водоснабжение и водоотведение, теплоснабжение, экология) и разработка программных комплексов и геоинформационных систем для государственных структур, инфраструктурных компаний и крупного бизнеса. Создание баз данных и картографического материала как основы для IT-решений также является флагманом в продуктовой линейке DATUM Group.

Самое старшее предприятие холдинга основано в 1994 году. Профилем его деятельности вот уже 28 лет являются кадастровые, геодезические и землеустроительные работы, полный комплекс инженерных изысканий. Именно как результат ребрендинга компании-основательницы и возникла в 2000 году новая структура организации. 

Специалисты DATUM Group за время существования компании успели реализовать проекты практически на всей территории нашей Родины – от Камчатки и Сибири до центральных регионов, Санкт-Петербурга и Москвы. Результат этой работы – уникальный опыт в каждой из экспертных областей, готовность браться за непростые задачи и приобретение надежных партнеров и лояльных клиентов по всей стране и за ее пределами.

На постоянной основе ведется взаимодействие группы компаний с профильными ВУЗами. Будучи в курсе передовых веяний в науке и рекрутируя молодых и талантливых специалистов, DATUM Group обеспечивает рынок каждого из направлений своей деятельности наиболее адекватными решениями.
</div>
{% endblock content %}