<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<header>
    <section class="head" style="display: flex; align-items:center; justify-content:space-between;">
        <div class="logo">
            <a href="{% url 'info' %}"><img src="{% static 'assets/img/datum_logo.jpeg' %}" alt=""></a>
        </div>
        <nav class="buttons">
            <a href="{% url 'info' %}">О нас</a>
            <a href="{% url 'add_project' %}">Добавить проект</a>
            <a href="/logout">Выйти</a>
        </nav>
    </section>
</header>
<main>
    {% block content %}

    {% endblock content %}
</main>

<footer>
    Все книги в наличии, если не нашли то что искали, можете сделать заказ онлайн.
</footer>

</body>     

</html>